NEXT_PUBLIC_SUPABASE_URL=https://sdpfpbvaiqfraqtqxnci.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNkcGZwYnZhaXFmcmFxdHF4bmNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwOTgxMDMsImV4cCI6MjEwNDY3NDEwM30.OWeWX5ETT7luvLWSU5bGpgkqY56diqoK6ZdV-8P9oqM